.bottom-content{
    background: url("../images/bg/footer-separator.jpg") left bottom repeat-x;
    padding-top: 40px;
    padding-bottom: 40px;
    p.outro {
        font-size: 24px;
        color: #79756b;
        font-weight: normal;
        text-shadow: 0.5px 0.5px #e9e2d3;
        line-height: 28px;
        margin-bottom: 30px;
    }

    @media screen
    and (min-width: $screen-md-min)
    {
        .btn-img{
            &:nth-child(odd) {
                float: left;
                text-align: left;
            }
            &:nth-child(even) {
                float: right;
                text-align: right;
            }
        }
    }

    @media screen
    and (max-width: $screen-sm-max)
    {
      .btn-img{
          display: block;
          margin: 20px auto;
          text-align: center;
          .img-responsive {
              text-align: center;
              display: inline-block;
          }
      }
    }


}

footer {
    .widget_nav_menu ul{
        margin: 20px 0;
        float: left;
        width: 100%;

        li {
            border-right: 1px solid;
            display: block;
            float: left;
            margin: 0;
            padding: 0 30px;
            font-family: Palatino, serif, "Times New Roman", Times, serif;
            font-size: 16px;
            color: #8c8375;
            font-weight: normal;
            a {
                color: #8c8375;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
            }
            &:last-child {
                border-right: 0;
            }
        }
    @media screen
    and (max-width: $screen-md-max){
        padding: 0;
        li {
            padding: 0 22px;
        }
    }
    //Tablet Portrait
    @media screen
    and (max-device-width: $screen-sm-max)
    and (orientation: portrait){
      li {
          padding: 0 12px;
          a {
              font-size: 14px;
          }
      }
    }

    @media screen
    and (max-device-width: $screen-xs-max){
          padding: 0;
          li {
              width: 50%;
              margin-bottom: 20px;
              &:nth-child(even) {
                  border-right: none;
              }
          }
    }

    }
}



