 body.page{
   /*DEFAULT PAGE TEMPLATE*/
      &.page-template-default{
           div.wrap{
               .content {
                   main.main{
                        .main-content {
                            background-color: white;
                            box-shadow: 0 0 1px rgba(109,109,109,.6);
                            padding: 40px 50px;
                            .page-header {
                                padding-bottom: 0;
                                margin: 0 0 35px;
                                border-bottom: 1px solid #9a9488;
                                h1 {
                                    font-family: $font-family-sans-serif;
                                    font-size: 43px;
                                    font-weight: normal;
                                    color: #23546f;
                                    text-transform: uppercase;
                                }
                            }
                            .img-responsive { width: 100%;}

                            a {
                                text-decoration: underline;
                                font-weight: bold;
                                &:hover {
                                    text-decoration: none;
                                }
                            }

                        }
                   }
               }
           }
     }
 }
