/* Footer Styles */
footer.content-info {
    background-color: $white;
    /*Sub Footer*/
    section.sub-footer{
      margin: 40px 0;
      .bg-gray-light {
        padding: 20px 28px;
        ul {
          margin: 0;
          li {
            a {
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
    /*Bottom Footer*/
    section.footer-bottom{
        padding: 15px 0;
        ul {
            margin: 0;
            padding: 0;
        }

        ul.footer-nav {
          line-height: 42px;
          float: none;
          display: inline-block;
        }
        ul.link-with-separator{
            line-height: 42px;
            > li {
                a {
                    font-weight: 400;
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
        .platform-b {
            font-weight: 700;
            line-height: 42px;
        }
    }
}

