header.banner {
    //border-top: 7px solid $brand-success;
    border-bottom: 7px solid $brand-primary-dark;


    a.brand {
        background: url(../images/logo.png) no-repeat center center;
        display: block;
        height: 224px;
        width: 224px;
        margin: 20px 15px;
        text-indent: -99999px;
    }

    h1.site-description {
      color: $brand-primary-dark;
      font-size: 15px;
      font-weight: 700;
    }
}
/* Header Search Bar */
.header-search-bar{
    .event-search-bar{
        margin-top: 19px;
        .search-label{
            font-size: 25px;
            font-weight: 500;
            margin-right: 10px;
        }
        .input-container{
            margin: 6px;
            .sbHolder {
                    .sbSelector:link,
                    .sbSelector:visited,
                    .sbSelector:hover {
                    }
            }
        }
        .icon-search {
            margin-left: 10px;
        }
    }
}




@media screen
and (min-width: $screen-sm){
    header.banner {
        height: 190px;
        a.brand {
            margin-top: -1em;
        }

        h1.site-description {
            float: right;
            margin-bottom: 20px;
        }
    }
    /* Header Search Bar  */
    .header-search-bar{
      #tribe-events-bar {
          float: right;
      }
      .event-search-bar{
          margin-bottom: 25px;
          .search-label{
            font-size: 18px;
            float: left;
          }
          .input-container{
            float: left;
            margin-left: 3px;
            width: 182px;
          }
      }
    }


}
