header.banner {
    //border-top: 7px solid $brand-success;
    border-bottom: 7px solid $brand-primary-dark;


    a.brand {
        background: url(../images/logo.png) no-repeat center center;
        background-size: cover;
        display: block;
        height: 200px;
        width: 200px;
        margin: 20px 15px;
        text-indent: -99999px;
    }

    h1.site-description {
      color: $brand-primary-dark;
      font-size: 15px;
      font-weight: 700;
    }
}
/* Header Search Bar */
.header-search-bar{
    .event-search-bar{
        margin-top: 19px;
        .search-label{
            font-size: 25px;
            font-weight: 500;
            margin-right: 10px;
        }
        .input-container{
            margin: 6px;
            .sbHolder {
                    .sbSelector:link,
                    .sbSelector:visited,
                    .sbSelector:hover {
                    }
            }
        }
        .icon-search {
            margin-left: 10px;
        }
    }
}




@media screen
and (min-width: $screen-sm){
    header.banner {
        height: 150px;
        a.brand {
          margin-top: -1.2em;
        }

        h1.site-description {
            float: right;
            margin-bottom: 20px;
        }
        .navbar.navbar-default {
            margin-bottom: 0;
            #menu-main-navigation {
                margin-top: 5px;
            }
        }
    }
    /* Header Search Bar  */
    .header-search-bar{
      #tribe-events-bar {
          float: right;
      }
      .event-search-bar{
          width: 700px;
          margin-bottom: 25px;
          .search-label{
            font-size: 20px;
            float: left;
            line-height: 33px;
            font-weight: 400;
          }
          .input-container{
            float: left;
            margin-left: 3px;
            width: 182px;
          }
      }
    }


}

/*Mobile Search Bar Styles*/
@media screen
and (max-width: $screen-sm-max){
  body.mobile {
    header.banner{
        a.brand{margin: 1em auto;}
    }
    .header-search-bar {
      #tribe-bar-form-custom {
        position: relative;
        padding: 0 15px 1em;
        .search-label {
          margin-bottom: 12px;
          display: block;
        }
        .icon-search{
          position: absolute;
          top: 0;
          left: 6em;
        }
      }
    }
  }
}
