/*Homepage Specific Styles*/
.home{
    section.home-banner {
        padding-top: 20px;
        padding-bottom: 20px;
            section.img-slider {
                background: url(/app/uploads/2015/09/hero-image-placeholder-742x374.jpg) center / cover no-repeat ;
                height: 374px;
                padding: 15px;

                hgroup {
                    margin-left: 10px;
                    h2 {
                        font-size: 40px;
                        margin-top: 0;
                    }
                    h3 {
                        font-weight: 300;
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }

            .btn-holder {
                margin-top: 2em;
                .btn.btn-lg {
                    width: 100%;
                }
            }


          .rotate-neg-sm {
              transform: rotate(-5deg);
          }

          section.upcoming-events-holder {
              .rotate-pos-sm {
                transform: rotate(10deg);
              }
          }
    }

    /*Calendar Section*/
    .calendar-info {
        margin-bottom: 40px;
        h5 {
           padding: 15px 60px;
        }
    }

}


@media screen
and (min-width: $screen-sm-max){
    .home{
      section.home-banner {
          .rotate-neg-sm {
            margin: 1.5em 0 0 -8em;
            float: left;
          }
          section.upcoming-events-holder {
            top: -2em;
            position: relative;
          }
      }

    }
}
