/*Homepage Specific Styles*/
.home,
.events-archive{
    section.home-banner {
        padding-top: 20px;
        padding-bottom: 20px;
            section.img-slider {
                background: url(/app/uploads/2015/09/hero-image-placeholder-742x374.jpg) top/cover no-repeat;
                height: 340px;
                padding: 15px;

                hgroup {
                    margin-left: 10px;
                    h2 {
                        font-size: 36px;
                        margin-top: 0;
                    }
                    h3 {
                        font-size: 24px;
                        font-weight: 300;
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }

            .btn-holder {
                margin-top: 2em;
                .btn.btn-lg {
                    width: 100%;
                }
            }


          .rotate-neg-sm {
              transform: rotate(-5deg);
          }

          section.upcoming-events-holder {
              .rotate-pos-sm {
                transform: rotate(10deg);
                 margin-left: 30px;
              }

              #coursesWrapper {
              }
          }



    }

    section.content-holder {
        background-color: #e0e0e0;
    }

    /*Calendar Section*/
    .calendar-info {
      margin-bottom: 40px;
      h5 {
        padding: 15px 60px;
      }
    }
    /*Tribe Events Calendar*/
    div#tribe-events-content {
        clear: left;
        .tribe-events-page-title {
            //color: #233b7a;
            //font-weight: 500;
            //text-transform: capitalize;cl
            //text-align: left;

        }

        .tribe-events-calendar {
            thead {
                th {
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                }
            }
            tbody {
                tr {
                    td {
                        background-color: $white;
                    }
                }
                .tribe_events {
                    padding: 10px;
                }
            }
        }

      #tribe-events-footer {
          ul.tribe-events-sub-nav li a {
              color: #636466;
              font-size: 12px;
              text-transform: uppercase;
              line-height: 47px;
              > span {
                  font-size: 33px;
                  font-weight: 300;
                  margin-top: 0em;
                  float: left;
                  display: inline;
                  line-height: normal;
              }
          }
      }
    }

}


@media screen
and (min-width: $screen-sm-max){
    .home{
      section.home-banner {
          .rotate-neg-sm {
            margin: 0 0 0 -8em;
            float: right;
          }
          section.upcoming-events-holder {
            top: -2em;
            position: relative;
          }
      }

    }
}


/*Mobile Banner Styles*/
.home,
.events-archive{
  &.mobile{
    section.home-banner {
      section.img-slider {
        height: 420px;
        margin-bottom: 1em;
      }
    }
  }

}


