@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

/*Default Form Styles*/
form {
    //jQuery Selectbox Styles
    .sbHolder {
        font-size: 12px;
        font-weight: normal;
        height: 25px;
        padding: 5px;
        position: relative;
        width: 100%;
        .sbSelector:link,
        .sbSelector:visited,
        .sbSelector:hover {
            line-height:1.95em;
            outline: none;
            text-decoration: none;
            width: 100%;
            padding: 0;
            height: 100%;
        }
        .sbToggle {
          background: url(../images/icons/dropdown-arrow.png) center center no-repeat;
          display: block;
          height: 25px;
          outline: none;
          position: absolute;
          right: 0;
          top: 0;
          width: 42px;
        }
        ul.sbOptions {
            background-color: #fff;
            border: solid 1px #d7dee4;
            list-style: none;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 30px;
            width: 100%;
            z-index: 1;
            overflow-y: auto;
            float: left;
        }
    }
    .text-input{
        width: 100%;
        height: 25px;
        font-size: 12px;
        padding: 2px 10px;
    }
    input.icon-search {
        border: none;
        text-indent: -999999px;
    }
    /*Gravity Forms*/
  .gform_footer{
    .gform_button.button{
        @extend .btn;
        @extend .btn-primary;
    }
  }

}

/* Form Theming Styles*/
.bg-success {
  input.text-input {
      background-color: $input-bg-success;
      border: solid 1px #ffffff;
      color: $brand-primary-dark;
      outline: none;

      @include placeholder {
        color: $brand-primary-dark;
      }
  }
  //jQuery Selectbox Styles
  .sbHolder {
    background-color: $input-bg-success;
    border: solid 1px #ffffff;
        .sbSelector:link,
        .sbSelector:visited,
        .sbSelector:hover {
            color: $brand-primary-dark;
        }

        ul.sbOptions {
          background-color: $input-bg-success;
          border: solid 1px $white;
            >li {
                >a {
                    color: $brand-primary-dark;
                    &:hover {
                        background-color: $brand-success;
                        color: $white;
                    }
                }
                &:hover {
                  background-color: $brand-success;
                }
            }
        }
  }
  input.icon-search {
      background: transparent url(../images/icons/search.png) no-repeat center center ;
      height: 38px;
      width: 38px;
   }
}


form.provider-registration {
    fieldset {
        margin-top: 2em;
    }
  .form-control {
      color: black;
  }
}


//WP Members Form

#wpmem_reg,
#wpmem_login {
  form{
      .noinput.disabled {
        background: #f5f5f5;
        width: 100%;
      }
      .button_div{
        height: auto;
      }
  }
}


/* Teachers Profile Update Form */
body.register,
form.teacher-profile
{
    .col-md-6:nth-child(odd){
        clear:left;
    }
}



/* Login Form */

body.page {
  form#loginform {
      @extend .row;
      > p {
          @extend .form-group;
          @extend .col-md-10;
          > input.input {
              @extend .form-control;
          }

          >input.button-primary {
              @extend .btn;
              @extend .btn-primary;
              @extend .btn-lg;
              width: 100%;
          }
      }
  }
}
