.icon-circle {
      border-radius: 50%;
      > * {
          line-height: normal;
          margin: 0;
          width: 100%;
          text-align: center;
      }
}


ul.social-media-icons {
    > li {
        display: inline-block;
        list-style: none;
        a {
            background-image: url("../images/icons/social-media.png");
            background-repeat: no-repeat;
            display: block;
            height: 42px;
            width: 42px;
            text-indent: -99999px;

            &.facebook {
                background-position: left top;
            }
            &.twitter {
              background-position: center top;
            }
            &.instagram {
              background-position: right top;
            }

          &.pinterest {
            background-position: left bottom;
          }
          &.youtube {
            background-position: right bottom;
          }
        }
    }
    &.round{
        >li {
            >a {
                background-image: url("../images/icons/social-media-round.png");
            }
        }
    }
}
