/*Upcoming Events Widget*/
.upcoming-events-widget{
      background-color: #424244;
      padding: 25px;
      max-height: 335px;
      height: 335px;
      overflow: auto;
      > h3 {
          font-weight: 400;
          margin: 0 0 1em 0;
      }
      ul.list-upcoming-events{
          >li {
              border-bottom: 1px solid;
              display: block;
              margin-top: 11px;
              padding-bottom: 0px;
              span.date {
                  border-radius: 50%;
                  display: block;
                  float: left;
                  margin-right: 1.45em;
                  width: 60px;
                  height: 60px;
                  padding: 7px 0;
              }
              .event-content {
                  .event-title {
                      font-weight: 500;
                      line-height: normal;
                      margin-bottom: 0;
                      text-transform: uppercase;
                      font-size: 15px;
                      min-height: 36px;
                  }
                  .provider {
                      font-weight: 400;
                      text-transform: capitalize;
                      .more-link {
                          float: right;
                          text-decoration: underline;
                      }
                  }
              }
          }
          &.brand-success{
            >li {
              span.icon-circle {
                  background-color: $brand-success;
              }
              .event-content {
                  .provider {
                      .more-link {
                          &:hover {
                              color: $brand-success;
                          }
                      }
                  }
              }
            }
          }
      }
}

/* Tribe Upcoming Events Widget*/

.tribe-mini-calendar-event {
    .list-date {
        background-color: #4bb8cc;
        border-radius: 50%;
        padding: 15px;
        width: 70px;
        .list-monthname{
            color: #ffffff;
        }
    }
    .list-info{
        width: 70%;
    }
}


/* Bottom Latest News Section*/

.bottom-latest-news {
      .latest-news {
          padding: 28px;
          img.img-responsive {
              margin: auto;
              width: 100%;
          }
      }
}

