//Background Colors
.bg-primary {background-color: $brand-primary; * { color: $white;}}
.bg-warning {background-color: $brand-warning; * { color: $white;}}
.bg-success {background-color: $brand-success; * { color: $white;}}
.bg-danger {background-color: $brand-danger;* { color: $white;}}


@media screen and
(min-width: $screen-sm-min) {

    .pull-right-md {
      float: right;
    }

    .pull-left-md {
      float: left;
    }

}
