@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);



.text-sm {
    font-size: $font-size-small;
}

.text-primary {
    color: $brand-primary;
}
.text-primary-dark {
  color: $brand-primary-dark;
}

.text-success {
    color: $brand-success;
}

.text-danger {
    color: $brand-danger;
}

ul.link-with-separator {
    li {
        border-right: 1px solid;
        display:inline;
        list-style-type: none;
        a {
            margin: 0 14px;
        }
        &:last-child {
            border: none;
        }
    }
}

.status-publish,
.entry-content {
    ul > li {
        font-size: 18px;
        margin-bottom: 13px;
    }
}
