// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #424244 !default;   // #424244
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #636466 !default; // #636466
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #3399cc;
$brand-primary-dark:    #233b7a;
$brand-success:         #4bb8cc !default;
$brand-info:            #cce5f2 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$white:                 #ffffff;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-success !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Gotham A", "Gotham B","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-secondary:  "Raleway","Gotham SSm A", "Gotham SSm B","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;


$font-size-base:          15px !default;
$font-size-large:         ceil(($font-size-base * 1.2)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.8)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~25px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

// Basics of a navbar
//$navbar-height:                    50px !default;
//$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             0 !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
//$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $brand-primary-dark !default;
$navbar-default-bg:                transparent !default;
$navbar-default-border:            transparent !default;

// Navbar links
$navbar-default-link-color:                $brand-primary-dark !default;
$navbar-default-link-hover-color:          $brand-primary-dark !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $brand-primary-dark !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $brand-primary-dark !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//** `<input>` background color
$input-bg-success:                       #78cad9 !default;
//** `<input disabled>` background color
$input-bg-disabled:              transparent !default;

//** Text color for `<input>`s
$input-color:                    $brand-primary-dark !default;
//** `<input>` border color


